<div class="container">
  <h1>Add a dose to <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>